.form-container {
    margin: 2rem auto;
    max-width: 500px;
    padding: 1.5rem;
    background-color: #b5e8ff;
    border-radius: 8px;
  }
  
  .post-form input,
  .post-form textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ff0000;
  }
  
  .post-form button {
    padding: 0.7rem 1.5rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-form button:hover {
    background-color: #218838;
  }
  